@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    background: #ffe400;
    color: #10313a;
    font-family: Roboto;
    margin: 0;
    font-weight: 200;
}
p {
    line-height: 1.6;
}
a {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
ul {
    padding-left: 18px;
    line-height: 1.5;
}
ul >li > a {
    text-decoration: none;
}
ul >li > a:hover {
    text-decoration: underline;
}
.heading {
    padding: 20px 0 40px;
    text-align: center;
}
@media screen and (min-width: 700px) {
    .heading {
        padding: 0 0 25px 0;
    }
}
.heading h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}
h3 {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin-bottom: 0;
}
h4 {
    text-transform: uppercase;
    font-size: 13px;
}
.heading #job-title {
    display: inline;
    border-right: 2px solid #10313aba;
    font-size: 25px;
}
.social {
    margin-top: 40px;
    text-align:center;
    padding:0;
}
.social li {
  display: inline-block;
}
.social li a {
    color: #fff;
}
.social li a:hover {
    color: #ffe400;
}
.social svg {
    width: 35px;
    fill: currentColor;
}
.black-board {
    background: #10313a;
    color: #fff;
    padding: 25px;
}
ul.tags {
    list-style: none;
    padding: 0;
    line-height: normal;
}
.tags li {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 200;
    margin: 0 10px 10px 0;
}
.footer {
    background: #10313a;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    padding: 25px 0 10px;
}
