@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    background: #ffe400;
    color: #10313a;
    font-family: Roboto;
}

.heading {
    text-align: center;
    padding: 20px 0;
}
.heading h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}
.heading #job-title {
    display: inline;
    border-right: 2px solid #10313aba;
    font-size: 18px;
}

.piece {
    height: 100px;
    width: 100px;
    background-color: black;
    position: absolute;
    cursor: pointer;
}

.piece.one{
    background: url('../asset/io.gif');
    right: 20px;
}
